@model DynThings.Data.Models.Endpoint

<div id="gauge" class="200x160px"></div>


<script>
    var g = new JustGage({
        id: "gauge",
        value: @Model.LastInput.Valu,
        min: 0,
        max: 60,
        title: "@Model.Title",
        label:"@Model.EndPointType.measurement"

    });
</script>
