@model DynThings.WebPortal.Models.ViewModels.MonitorEndPoint

<div id="gauge" class="200x160px"></div>


<script>
    var g = new JustGage({
        id: "gauge",
        value: @Model.LastIOValue,
        min: 0,
        max: 60,
        title: "@Model.Title",
        label:"@Model.Measurement"

    });
</script>
