@model DynThings.Data.Models.LocationView
@{
    ViewBag.Title = "Monitor";
}

<div hidden="hidden">
    <input id="SelectedLocationID" type="text" />
    <input id="SelectedEndPointID" type="text" />

</div>

<div class="container-fluid">
    <div class="page-header">
        <h1>Location View: @Model.Title</h1>
    </div>



    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_MonitorViewMap", Model)
        </div>

        <div class="col-md-6">
            <div id="divMonitorLocation"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
          
        </div>
    </div>

</div>


<script src="~/Scripts/Gauges/justgage.js"></script>
<script src="~/Scripts/Gauges/raphael-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        //LoadPart_MonitorAlerts();
    });


    function LoadPart_MonitorLocation(id) {
        $("#SelectedLocationID").val(id);
        var loadingpart = LoadDivLoading();
        $("#divMonitorLocation").html(loadingpart);
        $.ajax({
            url: '@Url.Content("~/")Monitor/GetPVMonitorLocation?id=' + id,
            //page=" + $("#DynConfigCurrentPage").html,
            type: "GET",

        })
        .done(function (partialViewResult) {

            $("#divMonitorLocation").html(partialViewResult);
        });
    }

    $(document).ready(function () {
        $(document).on("click", "#AlertsListPager a[href]", function () {
            var loadingpart = LoadDivLoading();
            $("#divMonitorAlerts").html(loadingpart);
            $.ajax({
                url: $(this).attr("href") + "&searchfor=" + '&recordsperpage=2',
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#divMonitorAlerts").html(result);
                    return false;
                }
            });
            return false;
        });
    });
</script>

