@model IEnumerable<DynThings.Data.Models.LocationView>

@{
    ViewBag.Title = "Monitor Views";
}

<h2>MonitorViewsList</h2>

<div class="page-header">
    <h1>Location Views</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>View type:  @item.Title</h3>
                    <p>@item.LocationViewType.Title</p>
                <p>
                    <a href="monitorview?id=@item.ID" class="btn btn-primary" role="button">Go to Monitor</a>
                    <a href="#" class="btn btn-default" role="button">Customize</a>
                </p>
            </div>
        </div>
    </div>
    }
</div>


