@model DynHighCharts.Chart

<div id="HCEndPoint" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
    $(function () {
        $('#HCEndPoint').highcharts(@Html.Raw( @Model.JsonOutput(Model)))
    });
</script>