
<div class="modal fade" id="mdl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div id="modal" class="modal-content">
           modal
        </div>
    </div>
</div>




<script>
    function HideModal() {
        $('#mdl').modal('hide');
    }
</script>
