
<div id="divLoading" style="text-align:center;">


    <img src="~/Assets/Portal/spinner-md.gif" />
</div>

<script>
    function LoadDivLoading() {

        return document.getElementById('divLoading').outerHTML;

    }
</script>