@model DynThings.Data.Models.EndPointCommand
@{
    ViewBag.Title = "Command Details";
}
<div class="container">
    <div class="page-header">
        <h1>Command Details</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabCommandmain">Main</a></li>
                <li><a data-toggle="tab" href="#tabCommandhistory">History</a></li>
                <li><a data-toggle="tab" href="#tabCommandDevkeys">Dev Keys</a></li>
                <li><a data-toggle="tab" href="#tabCommandDelete">Delete</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tabCommandmain" class="tab-pane fade in active">
                            <div id="divCommandMain">
                            </div>
                        </div>
                        <div id="tabCommandhistory" class="tab-pane fade">
                            <div id="divCommandHistory">
                            </div>
                        </div>
                        <div id="tabCommandcommands" class="tab-pane fade">
                            <div id="divCommandcommands">
                            </div>
                        </div>
                        <div id="tabCommandDevkeys" class="tab-pane fade">
                            <div id="divCommandDevkeys">
                            </div>
                        </div>
                        <div id="tabCommandDelete" class="tab-pane fade">
                            <div id="divCommandDelete">
                                <button type="button" class="btn btn-danger" onclick="LoadPart_DialogEndPointCommandDelete(@Model.ID)" data-toggle="modal" data-target="#mdl">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

@section scriptfiles{
    <script src="~/Assets/Scripts/DynScripts/EndPointCommands.js"></script>
}

<script>
    $(document).ready(function () {
        LoadPart_EndPointCommandDetailsDiv('@Model.ID');
    });


</script>
