@model IEnumerable<DynThings.Data.Models.EndPointCommand>
@{
    ViewBag.Title = "EndPointCommands";
}
<div class="container">
    <div class="page-header">
        <h1>EndPoint's Commands</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" onclick="LoadPart_DialogEndPointCommandAdd()" data-toggle="modal" data-target="#mdl">Add</button>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="search" id="txtEndPointCommandSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_EndPointCommandListDiv($(txtEndPointCommandSearch).val()); return false; }" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="LoadPart_EndPointCommandListDiv($(txtEndPointCommandSearch).val())">Search</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="well well-lg">
        <div id="divEndPointCommandsList">
        </div>
    </div>
</div>
@section scriptfiles{
<script src="~/Assets/Scripts/DynScripts/EndPointCommands.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            LoadPart_EndPointCommandListDiv($(txtEndPointCommandSearch).val());
        });

    </script>
}
