@model IPagedList<DynThings.Data.Models.EndPointIO>


<table class="table striped hovered bordered" id="main_table_demo">
    <thead>
        <tr>
            <th>Value</th>
            <th>I/O</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var io in Model)
        {
            <Text>
            <tr>
                <td>@io.Valu</td>
                <td>@io.IOType.Title</td>
                <td>@io.TimeStamp</td>
            </tr>

            </text>
        }
    </tbody>
</table>

