@model DynThings.Data.Models.Endpoint

<div class="right">
    <button type="button" class="btn btn-info pull-right" onclick="" data-toggle="modal" data-target="#mdl">Re-Generate</button>
</div>
<strong>GUID</strong><br>
@Model.GUID<br><br>
<strong>Key Pass</strong><br>
@Model.KeyPass<br><br>
