@model DynThings.Data.Models.Endpoint

<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-default" onclick="LoadChart_EndPoint_ConnectivityDiv();">
                <i class="demo-psi-repeat-2 icon-fw"></i> Refresh
            </button>
        </div>
        <h3 class="panel-title">Connectivity</h3>
    </div>

    <div class="panel-body">
        <div class="pad-btm form-inline">

            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <select id="drpEndpointHighchartsView" class="form-control" onchange="drpReport_Select(@Model.ID,'@DateTime.Now.Year.ToString()')">
                            <option value="1">Inputs: Minutes\Hour</option>
                            <option value="2">Inputs: Hour\Day</option>
                            <option value="3">Inputs: Day\Month</option>
                            <option value="4">Inputs: Month\Year</option>
                            <option value="5">Network: Connection drops\Months  (Count)</option>
                        </select>
                        <div class="input-group-btn">
                            <button onclick="drpReport_Select(@Model.ID,'@DateTime.Now.Year.ToString()')" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="EndPointChartDiv">
    </div>

</div>


<script>
        $(document).ready(function () {
            LoadChart_EndPoint_MinuteDiv();
        });

</script>