@{
    ViewBag.Title = "EndPoints";
}
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header text-overflow">Endpoints</h1>
            <h5>Manage the endpooints, and assign Things to them.</h5>
        </div>

        <div class="col-lg-3">
            <div class="pull-right">
                @*<br />
                <a href="~/Endpoints"> < Back to Endpoints List</a>*@
            </div>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<div id="page-content">
  
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-6">
            <button type="button" class="btn btn-purple" onclick="LoadPart_DialogEndPointAdd()" data-toggle="modal" data-target="#mdl">Add</button>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="search" id="txtEndPointSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_EndPointListDiv(); return false; }" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="LoadPart_EndPointListDiv()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="divEndPointsList">
    </div>
</div>
@section scriptfiles{
    <script src="~/Assets/Scripts/DynScripts/EndPoints.js"></script>
}
@section scripts{
    <script>
        $(document).ready(function () {
            LoadPart_EndPointListDiv();
            AttachEventEndPointsListPager();
        });

       
    </script>
}