@model DynThings.Data.Models.Endpoint

<div class="row">
    <div class="col-lg-3">

        <button type="button" class="btn btn-info" onclick="" data-toggle="modal" data-target="#mdl">Details</button>
    </div>
    <div class="col-lg-9">
        <div id="gauge" class="200x160px"></div>
        <span>Last update: @Model.LastInput.TimeStamp</span>
    </div>
</div>
<script>
    var g = new JustGage({
        id: "gauge_@Model.ID",
        value: @Model.LastInput.Valu,
        min: 0,
        max: 85,
        title: "@Model.Title",
        label:"@Model.EndPointType.measurement"

    });
</script>