
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-default" onclick="LoadPart_LocationViewEditLocationsDiv();">
                <i class="demo-psi-repeat-2 icon-fw"></i> Refresh
            </button>
        </div>
        <h3 class="panel-title">Locations</h3>
    </div>

    <div class="panel-body">
        <div class="pad-btm form-inline">
            <div class="row">
                <div class="col-sm-6 table-toolbar-left">
                    <button type="button" class="btn btn-info" onclick="LoadPart_LocationLookup('#modal')" data-toggle="modal" data-target="#mdl">Import</button>
                    @*<button class="btn btn-default"><i class="demo-pli-printer"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-default"><i class="demo-pli-information"></i></button>
                            <button class="btn btn-default"><i class="demo-pli-recycling"></i></button>
                        </div>*@
                </div>
                <div class="col-sm-6 table-toolbar-right">
                    <div class="form-group">
                        <input type="search" id="txtLocationsSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_LocationViewEditLocationsDiv(); return false; }" />
                    </div>
                    <div class="btn-group">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="LoadPart_LocationViewEditLocationsDiv()">Search</button>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="demo-pli-gear"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="#">Remove all</a></li>
                                <li><a href="#">Add all</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divLocationsList" />

    </div>
</div>

<script>
      $(document).ready(function () {
LoadPart_LocationViewEditLocationsDiv();

        });

    function EventSelectLocation() {
        AttachLocationToLocationView(selectedLocation);
    }


</script>
