@model DynThings.Data.Models.Location
<div class="fullHeight">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View: Things<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Things</a></li>
                            <li><a href="#">Devices</a></li>
                            <li><a href="#">EndPoints</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="btnAlert1" href="#" onclick="AndroidFixLayout();">Alerts</a></li>

                        </ul>
                    </li>

                    <li><a href="#" onclick="LoadPart_MonitorThingView();">Refresh</a></li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1 hidden-sm hidden-md hidden-lg">
                        <button id="btnBackToMap" class="btn" onclick="btnBacktoMap()"><</button>
                    </div>
                    <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="panel-title"><span id="lblLocationTitle">@Model.Title</span></h2>
                    </div>
                </div>

                <br />
                @Html.DropDownList("Thing", new SelectList(Model.Things, "ID", "Title"), "<All Things>", new { @class = "form-control" })

            </div>
            <div class="panel-body">
                <form class="">
                    <div class="form-group">
                        <input type="text" id="txtSearch" onkeydown="if (event.keyCode == 13) { LoadPart_MonitorThingView(); return false; }" class="form-control" placeholder="Search">

                    </div>
                </form>
                <div id="DivThingContent" style="overflow-y:auto;">
                </div>

            </div>
            <div class="panel-footer nopadding" style="width:100%">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group " role="group">
                        <button id="btnInputs" type="button" onclick="selectedLocationThingListView='Inputs';LoadPart_MonitorThingView();" class="btn btn-info btn-lg active">Inputs</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnCommands" type="button" onclick="selectedLocationThingListView='Commands';LoadPart_MonitorThingView();" class="btn btn-info btn-lg">Commands</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnLogs" type="button" onclick="selectedLocationThingListView='Logs';LoadPart_MonitorThingView();" class="btn btn-info btn-lg">Log</button>
                    </div>
                </div>
                <span id="lblLocationThingEndsListFooter"></span>
            </div>

        </div>

    </nav>



</div>


<script>
    $(document).ready(function () {
        $(window).resize(function () {
            //if ($("#divMonitorMap").height() - 290 > 50)
            //{
            //$("#DivThingContent").height($("#divMonitorMap").height() - 290);000
            //}
            selectedLocation = @Model.ID.ToString();
            FixUI();
        });
        selectedLocation = @Model.ID.ToString();
        LoadPart_MonitorThingView();
        FixUI();
    });

    $('#Thing').on('change', function () {
        LoadPart_MonitorThingView();
    });

    function FixUI() {
        if ($("#divMonitorMap").height() - 290 > 50)
        {
            $("#DivThingContent").height($("#divMonitorMap").height() - 290);
        }
        else
        {
            $("#DivThingContent").height(window.innerHeight - 290);
        }

    }


</script>
