@model DynThings.Data.Models.Location
<div class="fullHeight">

    <nav class="navbar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View: Things<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Things</a></li>
                            <li><a href="#">Devices</a></li>
                            <li><a href="#">EndPoints</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="btnAlert1" href="#" onclick="AndroidMode();">Alerts</a></li>
                        </ul>
                    </li>
                    <li><a href="#" onclick="LoadPart_MonitorThingView();">Refresh</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="panel-title"><span id="lblLocationTitle" onclick="btnBacktoMap()">@Model.Title</span></h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="searchbox">
                            <div class="input-group custom-search-form">
                                <input id="txtSearch" type="text" class="form-control" placeholder="Locations" onkeydown="if (event.keyCode == 13) { LoadPart_MonitorThingView(); return false; }">
                                <span class="input-group-btn">
                                    <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
               
                
                @Html.DropDownList("Thing", new SelectList(Model.Things, "ID", "Title"), "<All Things>", new { @class = "form-control" })
            </div>
            <div class="panel-body">
                <br />
                <br />
                <div class="row">
                   
                </div>

                @*<input type="text" id="txtSearch" onkeydown="if (event.keyCode == 13) { LoadPart_MonitorThingView(); return false; }" class="form-control" placeholder="Search">*@
                <br />
                <div id="DivThingContent" style="overflow-y:auto;">
                </div>
            </div>
            <div class="panel-footer nopadding" style="width:100%">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group " role="group">
                        <button id="btnInputs" type="button" onclick="selectedLocationThingListView='Inputs';LoadPart_MonitorThingView();" class="btn btn-info btn-lg active">Inputs</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnCommands" type="button" onclick="selectedLocationThingListView='Commands';LoadPart_MonitorThingView();" class="btn btn-info btn-lg">Commands</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnLogs" type="button" onclick="selectedLocationThingListView='Logs';LoadPart_MonitorThingView();" class="btn btn-info btn-lg">Log</button>
                    </div>
                </div>
                @*<span id="lblLocationThingEndsListFooter"></span>*@
            </div>
        </div>
    </nav>
</div>

<script>
    $(document).ready(function () {
        $(window).resize(function () {

            selectedLocation = @Model.ID.ToString();
            FixUI_MonitorLocation();
        });
        selectedLocation = @Model.ID.ToString();
        LoadPart_MonitorThingView();
        FixUI_MonitorLocation();
    });

    $('#Thing').on('change', function () {
        LoadPart_MonitorThingView();
    });

    function FixUI_MonitorLocation() {
        if ($("#divMonitorView").height() - 290 > 50)
        {
            $("#DivThingContent").height($("#divMonitorView").height() - 308);
        }
        else
        {
            $("#DivThingContent").height(window.innerHeight - 308);
        }
        if (mobileMode == 'true')
        {
            $('#DivThingContent').height(window.innerHeight - 240);
            $("#divMonitorView").height(window.innerHeight - 240)
        }

    }


</script>
