@model DynThings.Data.Models.LocationView
<div id="page-title">
    <div class="row">
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input id="txtMonitorLocationListSearch" type="text" class="form-control" placeholder="Locations" onkeydown="if (event.keyCode == 13) { divMonitorLocationsList(@Model.ID); return false; }">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="divMonitorLocationList"></div>

<script>
    $(document).ready(function () {
        divMonitorLocationsList(@Model.ID);
    });
</script>