@model DynThings.Data.Models.LocationView
@{
    ViewBag.Title = "LocationView Details";
}

<div id="page-title">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header text-overflow">View: @Model.Title</h1>
            <h5>Manage the View.</h5>
        </div>

        <div class="col-lg-3">
            <div class="pull-right">
                <br />
                <a href="~/LocationViews/"> < Back to Views List</a>
            </div>
        </div>
    </div>
</div>

<div id="page-content">
    <div class="fixed-fluid">
        <div class="fixed-sm-200 fixed-lg-250 pull-sm-left">
            <div class="">
                <div class="text-center bg-info">
                    <img src="~/Imgs/Views/Default.jpg" style="height:100%;width:100%" />
                    <ul class="list-unstyled text-center pad-top mar-no row">
                        <li class="col-xs-12">
                            <span class="text-lg ">@Model.Title</span>
                            <br /><br />

                        </li>
                        @*<li class="col-xs-4">
                                <span class="text-lg text-semibold">23K</span>
                                <p class="text-sm mar-no">Followers</p>
                            </li>
                            <li class="col-xs-4">
                                <span class="text-lg text-semibold">278</span>
                                <p class="text-sm mar-no">Post</p>
                            </li>*@
                    </ul>
                </div>
                <div class="list-group bg-trans pad-btm">
                    <a class="list-group-item" onclick="LoadPart_LocationViewEditMainDiv();" style="cursor: pointer;">Main</a>
                    <a class="list-group-item" onclick="LoadPart_LocationViewEditMapDiv();" style="cursor: pointer;">Map</a>
                    <a class="list-group-item" onclick="LoadPart_LocationViewEditLocationsContainerDiv();" style="cursor: pointer;">Locations</a>
                    <a class="list-group-item" onclick="LoadPart_DialogLocationViewDelete();" data-toggle="modal" data-target="#mdl" style="cursor: pointer;">Delete</a>
                </div>
            </div>
        </div>

        <div class="fluid">
            <div class="fixed-fluid">
                <div id="divPageDetails">

                </div>
            </div>
        </div>
    </div>

</div>






<!-- Button trigger modal -->

@section scriptfiles{
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'></script>
    @*<script src="~/Scripts/MsMaps/mapcontrol.js"></script>*@
    <script src="~/Assets/Scripts/DynScripts/LocationViews.js"></script>
    <script src="~/Assets/Scripts/DynScripts/Locations.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            selectedLocationViewID = @Model.ID;
            LoadPart_LocationViewEditMainDiv(@Model.ID);

        });

    </script>
}