@using DynThings.Core;
@model IPagedList<DynThings.Data.Models.LocationView>
@{
    ViewBag.Title = "Location Views";
}

<div id="page-title">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header text-overflow">Views</h1>
            <h5>Monitor and manage the Views.</h5>
        </div>

        <div class="col-lg-3">
            <div class="pull-right">
            </div>
        </div>
    </div>
</div>

<div id="page-content">
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-6">
            <button type="button" class="btn btn-purple" onclick="LoadPart_DialogLocationViewAdd()" data-toggle="modal" data-target="#mdl">Add</button>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="search" id="txtLocationViewSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_LocationViewListDiv(); return false; }" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="LoadPart_LocationViewListDiv()">Search</button>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <div id="divLocationViewsList">
    </div>


</div>

@section scriptfiles{
    <script src="~/Assets/Scripts/DynScripts/LocationViews.js"></script>
}
<script>
    $(document).ready(function () {
        LoadPart_LocationViewListDiv();
        AttachEventLocationViewsListPager();

    });

</script>
