@model DynThings.Data.Models.LocationView
@{
    ViewBag.Title = "Monitor";
}

<div hidden="hidden">
    <input id="SelectedLocationID" type="text" />
    <input id="SelectedEndPointID" type="text" />
</div>

<div class="container-fluid">
    <div class="page-header">
        <h1>Location View: @Model.Title</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_LocationViewMap", Model)
        </div>

        <div class="col-md-6">
            <div id="divMonitorLocation"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>

        <div class="col-md-6">
        </div>
    </div>

</div>


<script src="~/Scripts/Gauges/justgage.js"></script>
<script src="~/Scripts/Gauges/raphael-2.1.4.min.js"></script>

@section scripts{
<script src="~/DynScripts/LocationViews.js"></script>
    <script>
        $(document).ready(function () {
            //LoadPart_MonitorAlerts();
        });
   
    </script>
}
