@model DynThings.Data.Models.LocationView
@{
    ViewBag.Title = "Monitor";
}

<div hidden="hidden">
    <input id="SelectedLocationID" type="text" />
    <input id="SelectedEndPointID" type="text" />
</div>

<div class="container-fluid fullHeight" >
    <div class="row fullHeight" >
        <div class="col-lg-9 col-md-9 col-sm-8 hidden-xs nopadding" style="height:100%">
            <div id="divMonitorMap"  style="height:100%">
                @Html.Partial("_LocationViewMap", Model)
            </div>
            <div id="divMonitorDetails" style="height:100%; display:none">

            </div>
        </div>
       
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nopadding">
            <div  id="divMonitorLocation"></div>
        </div>
    </div>
</div>


@section scriptfiles{
    <script src="~/Scripts/Gauges/justgage.js"></script>
    <script src="~/Scripts/Gauges/raphael-2.1.4.min.js"></script>
    <script src="~/Scripts/MsMaps/mapcontrol.js"></script>
    <script src="~/Assets/Scripts/DynScripts/Monitor.js"></script>
    <script src="~/Assets/Scripts/DynScripts/Things.js"></script>
    <script src="~/Assets/Scripts/DynScripts/EndPointCommands.js"></script>

}

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            selectedLocation = @Model.ID;
        });

    </script>
}


<style type="text/css">
    html, body {
        overflow-y:hidden;
        height: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 12px;
    }
</style>