<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-default" onclick="LoadPart_AppThingExtensionsListDiv();">
                <i class="demo-psi-repeat-2 icon-fw"></i> Refresh
            </button>
        </div>
        <h3 class="panel-title">Thing Extensions</h3>
    </div>

    <div class="panel-body">
        <div class="pad-btm form-inline">
            <div class="row">
                <div class="col-sm-6 table-toolbar-left">
                    <button class="btn btn-purple" onclick="LoadPart_DialogAppThingExtensionAdd();" data-toggle="modal" data-target="#mdl"><i class="demo-pli-add icon-fw"></i>Add</button>
                </div>
                <div class="col-sm-6 table-toolbar-right">
                    <div class="form-group">
                        <input type="text" id="txtAppThingExtensionsSearch" autocomplete="off" class="form-control" placeholder="Search" onkeydown="if (event.keyCode == 13) { LoadPart_AppThingExtensionsListDiv(); return false; }">
                    </div>
                </div>
            </div>
        </div>


       <div id="divAppThingExtensionsList"></div>


    </div>
</div>

<script>
    $(document).ready(function () {
        LoadPart_AppThingExtensionsListDiv();
    });
</script>


