@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Muscat, Sultanate of Oman<br /><br />
    <abbr title="Phone">P:</abbr>
    +968 9530 8524
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cmoussalli@gmail.com">cmoussalli@gmail.com</a><br />
</address>