@model DynThings.Core.SetupModels.DatabaseSetup

<span id="lblDBSummary"></span>
<br />
<div id="divPublishStatus" class="pull-left alert">
    <span id="lblPublishStatus"></span>
</div>
<br />
<br />
<div class="progress progress-striped">
    <div id="progPublishStatus" class="progress-bar progress-bar-blue  active" role="progressbar" style="width: 0%">
    </div>
</div>
<br />
<br />
<span id="lblprogPublishStatus" class="sr-only"></span>


<script>

</script>