
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Welcome</h4>
</div>

<div class="modal-body">
    Welcome to DynThings Setup Page.
    In the next 3 steps, you will configure the database connection and the very basic settings. 

</div>