@using DynThings.Data.Repositories;
@{
    UnitOfWork_Repositories uof_repos = new UnitOfWork_Repositories();
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="jumbotron text-main">
    <h1>Getting Started</h1>
    <p>Welcome to DynThings, your Internet of Things Platform. To get started, you can easily follow the steps to start.</p>
    @*<p><a role="button" class="btn btn-primary btn-lg">Learn more</a></p>*@
</div>
@if (uof_repos.repoDynUsers.IsAdminitratorsExists())
{
    <h2>1. Login</h2>
    <p>To get started, you should Login as one of the existing users in the selected database.</p>
    <p>
        <a class="btn btn-primary" style="color:white" href="~/Account/login" role="button">Login</a>
    </p>
}
else
{
    <h2>1. Create Administrator Account</h2>
    <p>To get started, you should create the First User which will be assigned as an Administrator.</p>
    <p>
        <a class="btn btn-primary" style="color:white" href="~/Account/Register" role="button">Create Administrator</a>
    </p>
}
   
    <br />

  
    <a class="btn btn-info" style="color:white" href="http://dynthings.com" role="button">Learn more</a>

<br />
<br />
