
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<br />
<div class="panel-body">
    <div class="mar-ver pad-btm">
        <h3 class="h4 mar-no">Setup</h3>
        <p class="text-muted">Prepare your DynThings IoT Platform.</p>
    </div>

    <div class="col-md-12 eq-box-md eq-no-panel">

        <!-- Main Form Wizard -->
        <!--===================================================-->
        <div id="demo-main-wz">

            <!--nav-->
            <ul class="row wz-step wz-icon-bw wz-nav-off mar-top wz-steps">
                <li class="col-xs-3">
                    <a data-toggle="tab" href="#demo-main-tab1" aria-expanded="false">
                        <span class="text-danger"><i class="demo-pli-home icon-2x"></i></span>
                        <p class="text-semibold mar-no">Welcome</p>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a data-toggle="tab" href="#demo-main-tab2" aria-expanded="true">
                        <span class="text-warning"><i class="demo-pli-medal-2 icon-2x"></i></span>
                        <p class="text-semibold mar-no">Database</p>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a data-toggle="tab" href="#demo-main-tab3" aria-expanded="false">
                        <span class="text-info"><i class="demo-pli-home icon-2x"></i></span>
                        <p class="text-semibold mar-no">Configurations</p>
                    </a>
                </li>
                <li class="col-xs-3">
                    <a data-toggle="tab" href="#demo-main-tab4">
                        <span class="text-success"><i class="demo-pli-medal-2 icon-2x"></i></span>
                        <p class="text-semibold mar-no">Finish</p>
                    </a>
                </li>
            </ul>

            <!--progress bar-->
            <div class="progress progress-xs">
                <div class="progress-bar progress-bar-primary" style="width: 25%; left: 25%; position: relative; transition: all 0.5s;"></div>
            </div>


            <!--form-->
            <div class="form-horizontal">
                <div class="panel-body">
                    <div class="tab-content">

                        <!--First tab-->
                        <div id="demo-main-tab1" class="tab-pane fade active in">
                         @Html.Action("GetWelcomePV")
                        </div>

                        
                        <div id="demo-main-tab2" class="tab-pane ">
                          @Html.Action("DatabaseConfigPV")
                        </div>

                        
                        <div id="demo-main-tab3" class="tab-pane">
                           @Html.Action("PlatformConfigPV")
                        </div>

                       
                        <div id="demo-main-tab4" class="tab-pane">
                           @Html.Action("PublishPV")
                        </div>
                    </div>
                </div>


                <!--Footer buttons-->
                <div class="pull-right pad-rgt mar-btm">
                    <button type="button" class="previous btn btn-primary">Previous</button>
                    <button type="button" class="next btn btn-primary" onclick="FixProgressBar();">Next</button>
                    <button type="button" class="finish btn btn-success" onclick="Publish();" disabled="" style="display: none;">Finish</button>
                </div>

            </div>
        </div>
        <!--===================================================-->
        <!-- End of Main Form Wizard -->

    </div>



</div>

<script>
    function FixProgressBar() {

    };

    var isPublish = 0;
    var IPublishSwitch = 0;
    $(document).ready(function () {
       
        $('#rootwizard .finish').click(function () {
            isPublish = 1;
            IpublishSwitch = 0;
            Publish();
        });
    });

    function Publish() {
        IPublishSwitch = 0;
        isPublish = 1;
        PublishSwitch();

    };

    function PublishSwitch() {
        if (isPublish == 1) {

            switch (IPublishSwitch) {
                case 0:
                    $('#lblPublishStatus').text('Testing Database Connection.');
                    TestDatabaseConnection();
                    $('#progPublishStatus').width('20%');
                    break;
                case 1:
                    $('#lblPublishStatus').text('Saving Database Configuration.');
                    SaveDatabaseConnection();
                    $('#progPublishStatus').width('40%');
                    break;
                case 2:
                    $('#lblPublishStatus').text('Saving Platform Configuration.');
                    SubmitSetupConfigForm();
                    $('#progPublishStatus').width('60%');
                    break;
                case 3:
                    $('#lblPublishStatus').text('');
                    $('#progPublishStatus').width('Saving Platform Configuration.');
                    setTimeout(SetupComplete(), 1000)
                    break;
            }
        }
    };

    function SetupComplete() {
        window.location = getRootURL() + 'Setup/Complete';
    };
</script>