@model IEnumerable<DynThings.Data.Models.AspNetUser>

@{
    ViewBag.Title = "Users";
}
<div class="container">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="search" id="txtDynUserSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_DynUserListDiv(); return false; }" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="LoadPart_DynUserListDiv()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="divDynUsersList">
    </div>
</div>
@section scriptfiles{
    <script src="~/Assets/Scripts/DynScripts/DynUsers.js"></script>
}
<script>
    $(document).ready(function () {
        LoadPart_DynUserListDiv();
        AttachEventDynUsersListPager();
    });

</script>