@model PagedList.IPagedList<DynThings.Data.Models.Alert>

<table class="table striped hovered border bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Is Active</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            
                <td>
                    <a class="btn btn-info pull-right" href="~/Alerts/Details?ID=@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="AlertsListPager">
    <input id="AlertCurrentPage" value="@Model.PageNumber.ToString()" hidden />

    @Html.PagedListPager(Model, page => Url.Action("ListPV", new { page }))
</div>
