@model DynThings.Data.Models.DynSetting


<div class="form-group">
    <label class="control-label" for="drpMainGrid">Main grid rows count</label>
    <select class="form-control" id="drpMainGrid">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>

<div class="form-group">
    <label class="control-label" for="drpChildGrid">Child grid rows count</label>
    <select class="form-control" id="drpChildGrid" >
        <option>3</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>

<br><br>