@model DynThings.Data.Models.DynSetting
@using (Html.BeginForm("GridsPV", "Config", FormMethod.Post, new { id = "ConfigGridsEditForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-sm-3 control-label" for="drpMainGrid">Main grid rows count</label>
        <div class="col-sm-9">
            @Html.DropDownList("DefaultRecordsPerMaster", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />

    <div class="form-group">
        <label class="col-sm-3 control-label" for="drpChildGrid">Child grid rows count</label>
        <div class="col-sm-9">
            @Html.DropDownList("DefaultRecordsPerChild", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Save changes</button>
}
<script>
    $(document).ready(function () {
        AttachEventConfigGridsEditForm();
        });
</script>