@model DynThings.Data.Models.Device
<div class="right">
    <button type="button" class="btn btn-info pull-right" onclick="LoadDeviceEditor(@Model.ID)" data-toggle="modal" data-target="#mdl">Edit</button>
</div>

<strong>Uniqe Identifier</strong><br>
@Model.GUID<br><br>

<strong>Title</strong><br>
@Model.Title<br>
