@model DynThings.Data.Models.Device

@{
    ViewBag.Title = "Device Details";
}

<div class="container">
    <div class="page-header">
        <h1>Device Details</h1>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabDevicemain">Main</a></li>
                <li><a data-toggle="tab" href="#tabDevicehistory">History</a></li>
                <li><a data-toggle="tab" href="#tabDevicecommands">Commands</a></li>
                <li><a data-toggle="tab" href="#tabDeviceEndPoints">EndPoints</a></li>
                <li><a data-toggle="tab" href="#tabDeviceDevkeys">Dev Keys</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tabDevicemain" class="tab-pane fade in active">
                            <div id="divDeviceMain">
                            </div>
                        </div>
                        <div id="tabDevicehistory" class="tab-pane fade">
                            <div id="divDeviceHistory">
                            </div>
                        </div>
                        <div id="tabDevicecommands" class="tab-pane fade">
                            <div id="divDevicecommands">
                            </div>
                        </div>
                        <div id="tabDeviceEndPoints" class="tab-pane fade">
                            <div id="divDeviceEndPoints">
                            </div>
                        </div>
                        <div id="tabDeviceDevkeys" class="tab-pane fade">
                            <div id="divDeviceDevkeys">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>