
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-header">
        <h1>Devices</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" onclick="LoadPart_DialogDeviceAdd()" data-toggle="modal" data-target="#mdl">Add</button>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="search" id="txtDeviceSearch" class="form-control" onkeydown="if (event.keyCode == 13) { LoadPart_DeviceListDiv(); return false; }" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="LoadPart_DeviceListDiv()">Search</button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="well well-lg">
        <div id="divDevicesList">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadPart_DeviceListDiv();
    });


    function LoadPart_DeviceListDiv() {
        var loadingpart = LoadDivLoading();
        $("#divDevicesList").html(loadingpart);
        $.ajax({
            url: '@Url.Content("~/")' + 'Devices/GetListPV?searchfor=' + $(txtDeviceSearch).val() + '&recordsperpage=0',
            //page=" + $("#DynConfigCurrentPage").html,
            type: "GET",
        })
            .done(function (partialViewResult) {
                $("#divDevicesList").html(partialViewResult);
            });
        return false;
    };


    $(document).ready(function () {
        $(document).on("click", "#DevicesListPager a[href]", function () {
            var loadingpart = LoadDivLoading();
            $("#divDevicesList").html(loadingpart);
            $.ajax({
                url: $(this).attr("href") + "&searchfor=" + $(txtDeviceSearch).val() + '&recordsperpage=0',
                type: 'GET',
                cache: false,
                success: function (result) {
                    $("#divDevicesList").html(result);
                    return false;
                }
            });
            return false;
        });
    });

    function LoadPart_DialogDeviceAdd() {
        var loadingpart = LoadDivLoading();
        $("#modal").html(loadingpart);
        $.ajax({
            url: '@Url.Content("~/")' + 'Devices/addpv',
            //page=" + $("#DynConfigCurrentPage").html,
            type: "GET",
        })
        .done(function (partialViewResult) {
            $("#modal").html(partialViewResult);
        });
    }
</script>
