@model DynThings.Data.Models.Thing
@{
    ViewBag.Title = "Thing Details";
}

<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header text-overflow">Thing: @Model.Title</h1>
            <h5></h5>
        </div>

        <div class="col-lg-3">
            <div class="pull-right">
                <br />
                <a href="~/Things"> < Back to Things List</a>
            </div>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<div id="page-content">
    <div class="fixed-fluid">
        <div class="fixed-sm-200 fixed-lg-250 pull-sm-left">
            <div class="">
                <div class="text-center bg-info">
                    <img src="~/Imgs/Apps/0.jpg" style="height:100%;width:100%" />
                    <ul class="list-unstyled text-center pad-top mar-no row">
                        <li class="col-xs-12">
                            <span class="text-lg ">@Model.Title</span>
                            <br /><br />

                        </li>
                        @*<li class="col-xs-4">
                                <span class="text-lg text-semibold">23K</span>
                                <p class="text-sm mar-no">Followers</p>
                            </li>
                            <li class="col-xs-4">
                                <span class="text-lg text-semibold">278</span>
                                <p class="text-sm mar-no">Post</p>
                            </li>*@
                    </ul>
                </div>
                <div class="list-group bg-trans pad-btm">
                    <a class="list-group-item" onclick="LoadPart_ThingMainDiv();" style="cursor: pointer;">Main</a>
                    <a class="list-group-item" onclick="LoadPart_ThingPropertiesDiv();" style="cursor: pointer;">Properties</a>
                    <a class="list-group-item" onclick="LoadPart_ThingDelete();" data-toggle="modal" data-target="#mdl" style="cursor: pointer;">Delete</a>
                </div>
            </div>
        </div>

        <div class="fluid">
            <div class="fixed-fluid">
                <div id="divPageDetails">

                </div>
            </div>
        </div>
    </div>
</div>






@section scripts{
    <script src="~/Assets/Scripts/DynScripts/Things.js"></script>

    <script>
        $(document).ready(function () {
            selectedThing = @Model.ID;
            selectedThingTitle = '@Model.Title';
            LoadPart_ThingMainDiv();

        });
    </script>

    <script>
        $(document).ready(function () {
            $(document).on("click", "#ThingIOsListPager a[href]", function () {
                var loadingpart = LoadDivLoading();
                $("#divThingHistory").html(loadingpart);
                $.ajax({
                    url: $(this).attr("href") + '&Thingid=@Model.ID&recordsperpage=0',
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $("#divThingHistory").html(result);
                        return false;
                    }
                });
                return false;
            });
        });

    </script>

}
